label {
	display: block;
	letter-spacing: 4px;
	padding-top: 30px;
	text-align: center;
}

/* animation for the label text to return to normal after 
user clicks away from the input box */
label .label-text {
	color: #9B9B9B;
	cursor: text;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	-moz-transform: translateY(-34px);
	-ms-transform: translateY(-34px);
	-webkit-transform: translateY(-34px);
	transform: translateY(-34px);
	transition: all 0.3s;
}
/* animation for the text to float up and turn white */
label input:focus+.label-text {
	color: #F0F0F0;
	font-size: 13px;
	margin-top: 10px;
	-moz-transform: translateY(-74px);
	-ms-transform: translateY(-74px);
	-webkit-transform: translateY(-74px);
	transform: translateY(-74px);
}

/* remove the input box styling */
label input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #4A4A4A;
	font-size: 20px;
	letter-spacing: 1px;
	outline: 0;
	padding: 5px 20px;
	text-align: center;
	transition: all 0.3s;
	width: 200px;
}
/* once you click in the input the input width box animates */
label input:focus {
	max-width: 100%;
	width: 400px;
}

/* the text floats up during form validation */
label input:valid+.label-text {
	font-size: 13px;
	-moz-transform: translateY(-74px);
	-ms-transform: translateY(-74px);
	-webkit-transform: translateY(-74px);
	transform: translateY(-74px);
}
/* button styling */
button {
	background: transparent;
	
	color : #9B9B9B;
	border: 2px solid #F0F0F0;
	font-size: 15px;
	letter-spacing: 2px;
	padding: 20px 75px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 15px 30px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	color: #9B9B9B;
}

button:hover, button:focus {
	background-color: white;
	color: #333333;
}